.feedback-option-list {
  display: flex;
  gap: 10px;

  margin-bottom: 30px;
}

.feedback-option-btn {
  padding: 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
}

.feedback-option-btn:active {
  background-color: #2980f2;
}
